<div class="row mb-3">
  <div class="col-lg-12" cdkDropListGroup appCypressData="mapper">
    <div class="top-header">
      <app-header></app-header>
      <app-sources [sources]="sources"></app-sources>
    </div>

    <div class="content">
      <div class="mr-12">
        <mat-form-field appearance="fill">
          <mat-label>Base IRI</mat-label>
          <input matInput [ngModel]='getBaseIRI()'>
        </mat-form-field>
      </div>

      <div class="mr-12">
        <mat-form-field>
          <mat-chip-list #namespaces area-label="Namespaces management">
            <mat-chip *ngFor="let namespace of getNamespaces() | keyvalue" (removed)="removeNamespace(namespace.key)"
                      matTooltip="{{namespace.value}}" matTooltipClass="long-tooltip">
              {{namespace.key}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add new prefix by typing prefix=value, i.e owl=http://www.w3.org/2002/07/owl#"
                   [matChipInputFor]="namespaces"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addNamespace($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>

      <app-iteration [rdfMapping]="getMapping()" [sources]="sources" (updateMapping)="updateMapping($event)"></app-iteration>
    </div>
  </div>
</div>
