.mapping-cell {
  width: fit-content;
  max-width: 30%;
  min-width: 300px;
  border: solid 1px #ccc;
  min-height: 120px;
  display: inline-block;
  background: floralwhite;
  border-radius: 4px;
  cursor: move;
  overflow: hidden;
}

