mat-form-field {
  width: 100%;
}

.top-header {
  position: fixed;
  width: 97%;
  z-index: 10;
  background-color: #fff;
}

@media (max-width: 575px) {
  .top-header + .content {
    padding-top: 220px;
  }
}

@media (min-width: 576px) {
  .top-header + .content {
    padding-top: 220px;
  }
}

@media (min-width: 768px) {
  .top-header + .content {
    padding-top: 220px;
  }
}

@media (min-width: 992px) {
  .top-header + .content {
    padding-top: 190px;
  }
}

@media (min-width: 1200px) {
  .top-header + .content {
    padding-top: 150px;
  }
}

.mat-standard-chip {
  min-height: 22px;
}

mat-error {
  margin-top: -15px;
  margin-bottom: 10px;
}
