.mapping-subject {
  width: fit-content;
  max-width: 100%;
  min-width: 400px;
  border: solid 1px #ccc;
  min-height: 120px;
  display: block;
  background: floralwhite;
  border-radius: 4px;
  overflow: hidden;
}

