<div class="mapping-dialog" appCypressData="mapping-dialog">
  <h1 mat-dialog-title cdkFocusInitial appCypressData="dialog-title">{{title}}</h1>
  <div *ngIf="hasChildren" class="alert alert-warning small" role="alert" appCypressData="warning-message">
    {{'MESSAGES.EDIT_SAVED_TRIPLE_REF' | translate}}
  </div>
  <div mat-dialog-content>
    <form *ngIf="mapperForm$ | async as mapperForm" [formGroup]="mapperForm" fxLayout="column" fxLayoutAlign="start"
          fxFlex="200">
      <div class="typeProperty-section">
        <div *ngIf="isPredicate() && !this.selected">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="20"><h4>{{'LABELS.TYPE_MAPPING' | translate}}</h4></div>
            <div fxFlex="80">
              <mat-slide-toggle formControlName="typeMapping" color="primary" appCypressData="type-mapping-button">
                {{'LABELS.TYPE_PROPERTY' | translate}}
              </mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showOptions">
        <div class="type-section" appCypressData="type-section" *ngIf="isTypes()" >
          <div class="form-field-md mt-24" fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="20"><h4>{{'LABELS.TYPE' | translate}}</h4></div>
            <div fxFlex="80">
              <mat-button-toggle-group formControlName="type">
                <mat-button-toggle *ngFor="let type of types" [value]="type" [attr.appCypressData]="'type-'+ type">
                  {{getType(type)}}
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-error *ngIf="mapperForm.get('type').hasError('required')" appCypressData="type-error">
                {{ 'ERROR.REQUIRED' | translate }}
              </mat-error>
            </div>
          </div>
        </div>

        <div class="source-section mt-24" appCypressData="source-section">
          <mat-divider class="mb-24"></mat-divider>
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="20"><h4>{{'LABELS.SOURCE' | translate}}</h4></div>
            <div fxFlex="80">
              <mat-button-toggle-group formControlName="source">
                <mat-button-toggle *ngFor="let source of sources" [value]="source" [attr.appCypressData]="source">
                  {{getType(source)}}
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-error *ngIf="mapperForm.get('source').hasError('required')" appCypressData="source-error">
                {{ 'ERROR.REQUIRED' | translate }}
              </mat-error>
            </div>
          </div>

          <div *ngIf="isConstant" class="mt-24" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="20">
              <span>{{'LABELS.CONSTANT' | translate}}</span>
            </div>
            <ng-container *ngIf="isIri()">
              <div fxFlex="none">
                <mat-button-toggle-group formControlName="language" multiple
                                         (change)="toggleValueChange($event, 'language')">
                  <mat-button-toggle *ngFor="let lang of valueTransformationLangs" [value]="lang"
                                     [attr.appCypressData]="'transformation-'+ lang">
                    {{getType(lang)}}
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div fxFlex="none" class="transformation-section" appCypressData="transformation-section">
                <mat-form-field class="ml-16">
                  <mat-label>{{'TYPE.PREFIX' | translate}}</mat-label>
                  <input matInput formControlName="expression" name="expression"
                         [matAutocomplete]="prefixAuto"
                         (keydown.enter)="onKeydownEnter($event)"
                         appCypressData="transformation-expression" [readonly]="isRawIri">
                  <mat-autocomplete #prefixAuto="matAutocomplete">
                    <div>
                      <mat-option *ngFor="let namespace of filteredNamespaces | async" [value]="namespace.prefix || ':'"
                                  appCypressData="prefix-suggestion">
                        <span [innerHTML]="namespace.prefix | highlight: toHighlight"></span>
                        <span>: <{{namespace.pValue}}></span>
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="mr-8 ml-8" fxFlex="none">{{"LABELS.COLON_DIVIDER" | translate}}</div>
            </ng-container>
            <mat-form-field fxFlex="80">
              <textarea matInput formControlName="constant" name="constant" cdkTextareaAutosize
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                        [placeholder]="('LABELS.CONSTANT' | translate)"
                        [matAutocomplete]="autoType"
                        appCypressData="constant-input"
                        #trigger="matAutocompleteTrigger"
                        (keydown.enter)="onKeydownEnter($event)"
                        (keyup.enter)="makeSelection($event, trigger)"></textarea>
              <mat-error *ngIf="mapperForm.get('constant').hasError('required')" appCypressData="constant-error">
                {{ 'ERROR.REQUIRED' | translate }}
              </mat-error>
              <mat-autocomplete #autoType="matAutocomplete" #tooltip="matTooltip"  [matTooltip]="optionTooltip">
                <mat-option *ngFor="let constant of filteredConstants | async | async" [value]="getConstantValue('expression', constant)"
                            (mouseover)="getIriDescription(constant)" (mouseleave)="clearTooltip()">
                  {{getConstantLabel('expression', constant)}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div *ngIf="isColumn" class="mt-24" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="20">
              <span>{{'LABELS.COLUMN_NAME' | translate}}</span>
            </div>
            <ng-container *ngIf="isIri()">
              <div fxFlex="none">
                <mat-button-toggle-group formControlName="language" multiple (change)="toggleValueChange($event, 'language')">
                  <mat-button-toggle *ngFor="let lang of valueTransformationLangs" [value]="lang"
                                     [attr.appCypressData]="'transformation-'+ lang">
                    {{getType(lang)}}
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div fxFlex="none" class="transformation-section" appCypressData="transformation-section">
                <mat-form-field class="ml-16">
                  <mat-label>{{'TYPE.PREFIX' | translate}}</mat-label>
                  <input matInput formControlName="expression" name="expression"
                         [matAutocomplete]="prefixAuto"
                         (keydown.enter)="onKeydownEnter($event)"
                         appCypressData="transformation-expression" [readonly]="isRawIri">
                  <mat-autocomplete #prefixAuto="matAutocomplete">
                    <div>
                      <mat-option *ngFor="let namespace of filteredNamespaces | async" [value]="namespace.prefix || ':'" appCypressData="prefix-suggestion">
                        <span [innerHTML]="namespace.prefix | highlight: toHighlight"></span>
                        <span>: <{{namespace.pValue}}></span>
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="mr-8 ml-8" fxFlex="none">{{"LABELS.COLON_DIVIDER" | translate}}</div>
            </ng-container>
            <mat-form-field fxFlex="80">
              <textarea matInput formControlName="columnName" name="columnName"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                        [placeholder]="('LABELS.COLUMN_NAME' | translate)"
                        [matAutocomplete]="autoc"
                        appCypressData="column-input"
                        #trigger="matAutocompleteTrigger"
                        (keydown.enter)="onKeydownEnter($event)"
                        (keyup.enter)="makeSelection($event, trigger)"></textarea>
              <mat-error *ngIf="mapperForm.get('columnName').hasError('required')" appCypressData="column-error">
                {{ 'ERROR.REQUIRED' | translate }}
              </mat-error>
              <mat-autocomplete #autoc="matAutocomplete">
                <mat-option *ngFor="let option of filteredColumnNames | async" [value]="option.title" appCypressData="column-suggestion">
                  {{option.title}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div *ngIf="isGrelTransformation" class="mt-24 transformation-section" fxLayout="row" fxLayoutAlign="start start" appCypressData="transformation-section">
            <div fxFlex="20">
              <span>{{'LABELS.GREL' | translate}}</span>
            </div>
            <mat-form-field fxFlex="80">
               <textarea matInput formControlName="grelExpression" name="grelExpression"
                         cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                         [placeholder]="('LABELS.GREL_PLACEHOLDER' | translate)"
                         appCypressData="transformation-expression"
                         [satPopoverAnchor]='expressionGrelPreview'
                         (focus)="expressionGrelPreview.open()"
                         (blur)="expressionGrelPreview.close()"
                         (keydown.enter)="onKeydownEnter($event)"></textarea>
              <mat-icon matSuffix>
                <a class="icon-info"  target="_blank" href={{environment.openRefineVariables}}
                   matTooltip="{{'TOOLTIPS.GREL_VALUE_HELP' | translate}}"></a>
              </mat-icon>
              <mat-hint>
                {{'LABELS.GREL_HINT' | translate}}
              </mat-hint>
            </mat-form-field>
            <sat-popover #expressionGrelPreview (opened)="onExpressionGrelPreviewOpen()"
                         verticalAlign="below" horizontalAlign="start" [autoFocus]="false" [restoreFocus]="false">
              <mat-card class="grel-preview-content" appCypressData="expression-grel-preview">
                <mat-card-content *ngIf="(grelPreviewExpression | async)">
                  <div *ngFor="let preview of grelPreviewExpression | async; let index = index;" appCypressData="grel-preview">
                    <div class="mb-2" *ngIf="preview">
                      {{preview.error || preview}}
                    </div>
                  </div>
                </mat-card-content>
                <mat-card-content *ngIf="!(grelPreviewExpression | async)">
                  {{'MESSAGES.GREL_NO_PREVIEW' | translate}}
                </mat-card-content>
              </mat-card>
            </sat-popover>
          </div>
        </div>

        <div class="literal-type-section" appCypressData="literal-type-section" *ngIf="isTypes()" >
          <div class="mt-24">
            <div *ngIf="isLiteral">
              <mat-divider class="mb-24"></mat-divider>
              <div fxLayout="row" fxLayoutAlign="start start">
              <div fxFlex="20"><span>{{'LABELS.LITERAL_ATTRIBUTES' | translate}}</span></div>
              <div fxFlex="80">
              <mat-button-toggle-group id="123" formControlName="literalType" multiple (change)="toggleValueChange($event, 'literalType')">
                <mat-button-toggle *ngFor="let type of literalTypes" [value]="type"
                                   [attr.appCypressData]="'transformation-'+ type">
                  {{getType(type)}}
                </mat-button-toggle>
              </mat-button-toggle-group>
              </div>
              </div>
            </div>

            <div *ngIf="hasDatatype" class="mt-24 mb-24">
              <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20"><span>{{'LABELS.DATATYPE_SOURCE' | translate}}</span></div>
                <div fxFlex="80">
                  <mat-button-toggle-group formControlName="dataTypeValueSource">
                    <mat-button-toggle *ngFor="let source of literalSources" [value]="source" [attr.appCypressData]="'datatype-'+ source">
                      {{getType(source)}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngIf="mapperForm.get('dataTypeValueSource').hasError('required')"
                             appCypressData="datatype-source-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                </div>
              </div>

              <div *ngIf="isDatatypeConstant" class="mt-24" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="20">
                  <span>{{'LABELS.CONSTANT' | translate}}</span>
                </div>
                <div fxFlex="none">
                  <mat-button-toggle-group formControlName="datatypeLanguage" multiple (change)="toggleValueChange($event, 'datatypeLanguage')">
                    <mat-button-toggle *ngFor="let lang of datatypeTransformationLangs" [value]="lang"
                                       [attr.appCypressData]="'datatype-transformation-'+ lang">
                      {{getType(lang)}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div fxFlex="none">
                  <mat-form-field class="ml-16">
                    <mat-label>{{'TYPE.PREFIX' | translate}}</mat-label>
                    <input matInput formControlName="datatypeTransformation" name="datatypeTransformation"
                           [matAutocomplete]="datatypePrefixAuto"
                           (keydown.enter)="onKeydownEnter($event)"
                           appCypressData="datatype-transformation-expression" [readonly]="isDatatypeRawIri">
                    <mat-autocomplete #datatypePrefixAuto="matAutocomplete">
                      <div>
                        <mat-option *ngFor="let namespace of filteredNamespaces | async" [value]="namespace.prefix || ':'">
                          <span [innerHTML]="namespace.prefix | highlight: toHighlight"></span>
                          <span>: <{{namespace.pValue}}></span>
                        </mat-option>
                      </div>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="mr-8 ml-8" fxFlex="none">{{"LABELS.COLON_DIVIDER" | translate}}</div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="dataTypeConstant" name="dataTypeConstant" cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.CONSTANT' | translate)"
                              [matAutocomplete]="autoDataTypeC"
                              appCypressData="datatype-constant-input"
                              #trigger="matAutocompleteTrigger"
                              (keydown.enter)="onKeydownEnter($event)"
                              (keyup.enter)="makeSelection($event, trigger)"></textarea>
                  <mat-error *ngIf="mapperForm.get('dataTypeConstant').hasError('required')"
                             appCypressData="datatype-constant-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                  <mat-autocomplete #autoDataTypeC="matAutocomplete" #tooltip="matTooltip"  [matTooltip]="optionTooltip">
                    <mat-option *ngFor="let constant of filteredDatatypeConstants | async | async" [value]="getConstantValue('datatypeTransformation', constant)"
                                (mouseover)="getIriDescription(constant)" (mouseleave)="clearTooltip()">
                      {{getConstantLabel('datatypeTransformation', constant)}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div *ngIf="isDatatypeColumn" class="mt-24" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="20">
                  <span>{{'LABELS.COLUMN_NAME' | translate}}</span>
                </div>
                <div fxFlex="none">
                  <mat-button-toggle-group formControlName="datatypeLanguage" multiple (change)="toggleValueChange($event, 'datatypeLanguage')">
                    <mat-button-toggle *ngFor="let lang of datatypeTransformationLangs" [value]="lang"
                                       [attr.appCypressData]="'datatype-transformation-'+ lang">
                      {{getType(lang)}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div fxFlex="none">
                  <mat-form-field class="ml-16">
                    <mat-label>{{'TYPE.PREFIX' | translate}}</mat-label>
                    <input matInput formControlName="datatypeTransformation" name="datatypeTransformation"
                           [matAutocomplete]="datatypePrefixAuto"
                           (keydown.enter)="onKeydownEnter($event)"
                           appCypressData="datatype-transformation-expression" [readonly]="isDatatypeRawIri">
                    <mat-autocomplete #datatypePrefixAuto="matAutocomplete">
                      <div>
                        <mat-option *ngFor="let namespace of filteredNamespaces | async" [value]="namespace.prefix || ':'">
                          <span [innerHTML]="namespace.prefix | highlight: toHighlight"></span>
                          <span>: <{{namespace.pValue}}></span>
                        </mat-option>
                      </div>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="mr-8 ml-8" fxFlex="none">{{"LABELS.COLON_DIVIDER" | translate}}</div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="dataTypeColumnName" name="dataTypeColumnName"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.COLUMN_NAME' | translate)"
                              [matAutocomplete]="autoc"
                              appCypressData="datatype-column-input"
                              #trigger="matAutocompleteTrigger"
                              (keydown.enter)="onKeydownEnter($event)"
                              (keyup.enter)="makeSelection($event, trigger)"></textarea>
                  <mat-error *ngIf="mapperForm.get('dataTypeColumnName').hasError('required')"
                             appCypressData="datatype-column-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                  <mat-autocomplete #autoc="matAutocomplete">
                    <mat-option *ngFor="let option of filteredColumnNames | async" [value]="option.title" appCypressData="column-suggestion">
                      {{option.title}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div *ngIf="isDataTypeGrelTransformation" class="mt-24 datatype-transformation-grel" fxLayout="row" fxLayoutAlign="start start" appCypressData="datatype-transformation-grel">
                <div fxFlex="20">
                  <span>{{'LABELS.GREL' | translate}}</span>
                </div>
                <mat-form-field fxFlex="80">
                     <textarea matInput formControlName="datatypeGrelTransformation" name="datatypeGrelTransformation"
                               cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                               [placeholder]="('LABELS.GREL_PLACEHOLDER' | translate)"
                               appCypressData="datatype-transformation-expression"
                               [satPopoverAnchor]='datatypeGrelPreview'
                               (focus)="datatypeGrelPreview.open()" (blur)="datatypeGrelPreview.close()"
                               (keydown.enter)="onKeydownEnter($event)"></textarea>
                  <mat-icon matSuffix>
                    <a class="icon-info"  target="_blank" href={{environment.openRefineVariables}}
                       matTooltip="{{'TOOLTIPS.GREL_VALUE_HELP' | translate}}"></a>
                  </mat-icon>
                </mat-form-field>
                <sat-popover #datatypeGrelPreview (opened)="onDataTypeGrelPreviewOpen()"
                             verticalAlign="below" horizontalAlign="start" [autoFocus]="false" [restoreFocus]="false">
                  <mat-card class="grel-preview-content" appCypressData="datatype-grel-preview-content">
                    <mat-card-content *ngIf="(grelPreviewDataTypeTransformation | async)">
                      <div *ngFor="let preview of grelPreviewDataTypeTransformation | async; let index = index;" appCypressData="datatype-grel-preview">
                        <div class="mb-2" *ngIf="preview">
                          {{preview.error || preview}}
                        </div>
                      </div>
                    </mat-card-content>
                    <mat-card-content *ngIf="!(grelPreviewDataTypeTransformation | async)">
                      {{'MESSAGES.GREL_NO_PREVIEW' | translate}}
                    </mat-card-content>
                  </mat-card>
                </sat-popover>
              </div>
            </div>

            <div *ngIf="hasLanguage" class="mt-24 mb-24">
              <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20"><span>{{'LABELS.LANGUAGE_SOURCE' | translate}}</span></div>
                <div fxFlex="80">
                  <mat-button-toggle-group formControlName="languageValueSource">
                    <mat-button-toggle *ngFor="let source of literalSources" [value]="source" [attr.appCypressData]="'language-'+ source">
                      {{getType(source)}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngIf="mapperForm.get('languageValueSource').hasError('required')"
                             appCypressData="language-source-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                </div>
              </div>

              <div *ngIf="isLanguageConstant" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20">
                  <span>{{'LABELS.CONSTANT' | translate}}</span>
                </div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="languageConstant" name="languageConstant" cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.CONSTANT' | translate)"
                              appCypressData="language-constant-input"
                              (keydown.enter)="onKeydownEnter($event)"></textarea>
                  <mat-error *ngIf="mapperForm.get('languageConstant').hasError('required')"
                             appCypressData="language-constant-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <div *ngIf="isLanguageColumn" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20">
                  <span>{{'LABELS.COLUMN_NAME' | translate}}</span>
                </div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="languageColumnName" name="languageColumnName"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.COLUMN_NAME' | translate)"
                              [matAutocomplete]="autoc"
                              appCypressData="language-column-input"
                              #trigger="matAutocompleteTrigger"
                              (keydown.enter)="onKeydownEnter($event)"
                              (keyup.enter)="makeSelection($event, trigger)"></textarea>
                  <mat-error *ngIf="mapperForm.get('languageColumnName').hasError('required')"
                             appCypressData="language-column-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                  <mat-autocomplete #autoc="matAutocomplete">
                    <mat-option *ngFor="let option of filteredColumnNames | async" [value]="option.title" appCypressData="column-suggestion">
                      {{option.title}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div *ngIf="isLanguageGrelTransformation" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20">
                  <span>{{'LABELS.GREL' | translate}}</span>
                </div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="languageTransformation" name="languageTransformation"
                              cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.GREL_PLACEHOLDER' | translate)"
                              appCypressData="language-transformation-expression"
                              [satPopoverAnchor]='languageGrelPreview'
                              (focus)="languageGrelPreview.open()" (blur)="languageGrelPreview.close()"
                              (keydown.enter)="onKeydownEnter($event)"></textarea>
                  <mat-icon matSuffix>
                    <a class="icon-info"  target="_blank" href={{environment.openRefineVariables}}
                       matTooltip="{{'TOOLTIPS.GREL_VALUE_HELP' | translate}}"></a>
                  </mat-icon>
                </mat-form-field>
                <sat-popover #languageGrelPreview (opened)="onLanguageGrelPreviewOpen()"
                             verticalAlign="below" horizontalAlign="start" [autoFocus]="false" [restoreFocus]="false">
                  <mat-card class="grel-preview-content" appCypressData="language-grel-preview-content">
                    <mat-card-content *ngIf="(grelPreviewLanguageTransformation | async)">
                      <div *ngFor="let preview of grelPreviewLanguageTransformation | async; let index = index;" appCypressData="language-grel-preview">
                        <div class="mb-2" *ngIf="preview">
                          {{preview.error || preview}}
                        </div>
                      </div>
                    </mat-card-content>
                    <mat-card-content *ngIf="!(grelPreviewLanguageTransformation | async)">
                      {{'MESSAGES.GREL_NO_PREVIEW' | translate}}
                    </mat-card-content>
                  </mat-card>
                </sat-popover>
              </div>
            </div>
          </div>
        </div>
      </div>

      <mat-divider class="mt-24"></mat-divider>
      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end none" class="mb-6">
        <button class="btn mr-2" appCypressData="cancel-mapping-button" mat-dialog-close matTooltip="{{'TOOLTIPS.CANCEL_EDIT' | translate}}">{{'BUTTONS.CANCEL' | translate}}</button>
        <span matTooltip="{{'TOOLTIPS.SAVE_AND_CLOSE' | translate}}">
          <button class="btn btn-primary" [mat-dialog-close]="data" (click)="save()" [disabled]="isMappingInvalid()" appCypressData="ok-mapping-button">
            {{'BUTTONS.OK' | translate}}
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
