<div class="mapping-dialog">
  <h1 mat-dialog-title cdkFocusInitial appCypressData="dialog-title">{{title}}</h1>
  <div *ngIf="hasChildren" class="alert alert-warning small" role="alert">
    {{'MESSAGES.EDIT_SAVED_TRIPLE_REF' | translate}}
  </div>
  <div mat-dialog-content>
    <form *ngIf="mapperForm$ | async as mapperForm" [formGroup]="mapperForm" fxLayout="column" fxLayoutAlign="start"
          fxFlex="200">
      <div class="typeProperty-section">
        <div *ngIf="isPredicate() && !this.selected">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="20"><h4>{{'LABELS.TYPE_MAPPING' | translate}}</h4></div>
            <div fxFlex="80">
              <mat-slide-toggle formControlName="typeMapping" color="primary" appCypressData="type-mapping-button">
                {{'LABELS.TYPE_PROPERTY' | translate}}
              </mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showOptions">
        <div class="type-section" *ngIf="isTypes()" >
          <mat-divider></mat-divider>
          <div class="form-field-md mt-24" fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="20"><h4>{{'LABELS.TYPE' | translate}}</h4></div>
            <div fxFlex="80">
              <mat-button-toggle-group formControlName="type">
                <mat-button-toggle *ngFor="let type of types" [value]="type" [attr.appCypressData]="'type-'+ type">
                  {{getType(type)}}
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-error *ngIf="mapperForm.get('type').hasError('required')" appCypressData="type-error">
                {{ 'ERROR.REQUIRED' | translate }}
              </mat-error>
            </div>
          </div>

          <div class="mt-24">
            <div *ngIf="hasDatatype">
              <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20"><span>{{'LABELS.TYPE_SOURCE' | translate}}</span></div>
                <div fxFlex="80">
                  <mat-button-toggle-group formControlName="dataTypeValueSource">
                    <mat-button-toggle *ngFor="let source of sources" [value]="source" [attr.appCypressData]="'datatype-'+ source">
                      {{getType(source)}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngIf="mapperForm.get('dataTypeValueSource').hasError('required')"
                             appCypressData="datatype-source-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                </div>
              </div>

              <div *ngIf="isDatatypeConstant" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20">
                  <span>{{'LABELS.CONSTANT' | translate}}</span>
                </div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="dataTypeConstant" name="dataTypeConstant" cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.CONSTANT' | translate)"
                              [matAutocomplete]="autoDataTypeC"
                              appCypressData="datatype-constant-input"></textarea>
                  <mat-error *ngIf="mapperForm.get('dataTypeConstant').hasError('required')"
                             appCypressData="datatype-constant-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                  <mat-autocomplete #autoDataTypeC="matAutocomplete">
                    <mat-option *ngFor="let constant of filteredConstants | async | async" [value]="constant.value">
                      {{constant.label}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div *ngIf="isDatatypeColumn" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20">
                  <span>{{'LABELS.COLUMN_NAME' | translate}}</span>
                </div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="dataTypeColumnName" name="dataTypeColumnName"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.COLUMN_NAME' | translate)"
                              [matAutocomplete]="autoc"
                              appCypressData="datatype-column-input"></textarea>
                  <mat-error *ngIf="mapperForm.get('dataTypeColumnName').hasError('required')"
                             appCypressData="datatype-column-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                  <mat-autocomplete #autoc="matAutocomplete">
                    <mat-option *ngFor="let option of filteredColumnNames | async" [value]="option.title">
                      {{option.title}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="mt-24" fxLayout="row" fxLayoutAlign="start none">
                <div fxFlex="20"><span>{{'LABELS.TYPE_TRANSFORMATION' | translate}}</span></div>
                <div fxFlex="none">
                  <mat-button-toggle-group formControlName="datatypeLanguage">
                    <mat-button-toggle *ngFor="let lang of typeTransformationLangs" [value]="lang" [attr.appCypressData]="'datatype-transformation-'+ lang">
                      {{getType(lang)}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div fxFlex="65" *ngIf="!!mapperForm.get('datatypeLanguage').value">
                  <div fxLayout="column" fxLayoutAlign="space-around stretch">
                    <mat-form-field class="ml-16">
                      <mat-label>{{'LABELS.EXPRESSION' | translate}}</mat-label>
                      <textarea matInput formControlName="datatypeTransformation" name="datatypeTransformation"
                                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                [matAutocomplete]="datatypePrefixAuto"
                                [placeholder]="!isDataTypePrefixTransformation ? ('LABELS.GREL_PLACEHOLDER' | translate) : ''"
                                appCypressData="datatype-transformation-expression"></textarea>
                      <mat-autocomplete #datatypePrefixAuto="matAutocomplete">
                        <div *ngIf="isDataTypePrefixTransformation">
                          <mat-option *ngFor="let namespace of filteredNamespaces | async" [value]="namespace.prefix">
                            {{namespace.prefix}}={{namespace.value}}
                          </mat-option>
                        </div>
                      </mat-autocomplete>
                      <mat-icon matSuffix>
                        <a *ngIf="!isDataTypePrefixTransformation" class="icon-info" target="_blank"
                           href={{environment.openRefineVariables}}
                           matTooltip="{{'TOOLTIPS.GREL_VALUE_HELP' | translate}}"></a>
                      </mat-icon>
                    </mat-form-field>

                    <div class="ml-16" *ngIf="!isDataTypePrefixTransformation">
                      <div
                        *ngFor="let preview of grelPreviewDataTypeTransformation | async; let index = index;">
                        <div class="mb-2 cursor-pointer" *ngIf="preview"
                             [ngClass]="{hide: index !== 0 && !showDataTypeTransformation}"
                             (click)="showDataTypeTransformation = !showDataTypeTransformation"
                             matTooltip="{{showDataTypeTransformation ? ('TOOLTIPS.CLICK_TO_HIDE' | translate) : ('TOOLTIPS.CLICK_FOR_MORE' | translate)}}">
                          {{preview.error || preview}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="hasLanguage">
              <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20"><span>{{'LABELS.TYPE_SOURCE' | translate}}</span></div>
                <div fxFlex="80">
                  <mat-button-toggle-group formControlName="languageValueSource">
                    <mat-button-toggle *ngFor="let source of sources" [value]="source" [attr.appCypressData]="'language-'+ source">
                      {{getType(source)}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-error *ngIf="mapperForm.get('languageValueSource').hasError('required')"
                             appCypressData="language-source-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                </div>
              </div>

              <div *ngIf="isLanguageConstant" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20">
                  <span>{{'LABELS.CONSTANT' | translate}}</span>
                </div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="languageConstant" name="languageConstant" cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.CONSTANT' | translate)"
                              appCypressData="language-constant-input"></textarea>
                  <mat-error *ngIf="mapperForm.get('languageConstant').hasError('required')"
                             appCypressData="language-constant-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>

              <div *ngIf="isLanguageColumn" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="20">
                  <span>{{'LABELS.COLUMN_NAME' | translate}}</span>
                </div>
                <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="languageColumnName" name="languageColumnName"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.COLUMN_NAME' | translate)"
                              [matAutocomplete]="autoc"
                              appCypressData="language-column-input"></textarea>
                  <mat-error *ngIf="mapperForm.get('languageColumnName').hasError('required')"
                             appCypressData="language-column-error">
                    {{ 'ERROR.REQUIRED' | translate }}
                  </mat-error>
                  <mat-autocomplete #autoc="matAutocomplete">
                    <mat-option *ngFor="let option of filteredColumnNames | async" [value]="option.title">
                      {{option.title}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>


              <div class="mt-24" fxLayout="row" fxLayoutAlign="start none">
                <div fxFlex="20"><span>{{'LABELS.TYPE_TRANSFORMATION' | translate}}</span></div>
                <div fxFlex="none">
                  <mat-button-toggle-group formControlName="languageTransformationLanguage">
                    <mat-button-toggle *ngFor="let lang of typeTransformationLangs" [value]="lang" [attr.appCypressData]="'language-transformation-'+ lang">
                      {{getType(lang)}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div fxFlex="65" *ngIf="!!mapperForm.get('languageTransformationLanguage').value">
                  <div fxLayout="column" fxLayoutAlign="space-around stretch">
                    <mat-form-field class="ml-16">
                      <mat-label>{{'LABELS.EXPRESSION' | translate}}</mat-label>
                      <textarea matInput formControlName="languageTransformation" name="languageTransformation"
                                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                [matAutocomplete]="languagePrefixAuto"
                                [placeholder]="!isLanguagePrefixTransformation ? ('LABELS.GREL_PLACEHOLDER' | translate) : ''"
                                appCypressData="language-transformation-expression"></textarea>
                      <mat-autocomplete #languagePrefixAuto="matAutocomplete">
                        <div *ngIf="isLanguagePrefixTransformation">
                          <mat-option *ngFor="let namespace of filteredNamespaces | async" [value]="namespace.prefix">
                            {{namespace.prefix}}={{namespace.value}}
                          </mat-option>
                        </div>
                      </mat-autocomplete>
                      <mat-icon matSuffix>
                        <a *ngIf="!isLanguagePrefixTransformation" class="icon-help" target="_blank"
                           href={{environment.openRefineVariables}}
                           matTooltip="{{'TOOLTIPS.GREL_VALUE_HELP' | translate}}"></a>
                      </mat-icon>
                    </mat-form-field>

                    <div class="ml-16" *ngIf="!isLanguagePrefixTransformation">
                      <div
                        *ngFor="let preview of grelPreviewLanguageTransformation | async; let index = index;">
                        <div class="mb-2 cursor-pointer" *ngIf="preview"
                             [ngClass]="{hide: index !== 0 && !showLanguageTransformation}"
                             (click)="showLanguageTransformation = !showLanguageTransformation"
                             matTooltip="{{showLanguageTransformation ? ('TOOLTIPS.CLICK_TO_HIDE' | translate) : ('TOOLTIPS.CLICK_FOR_MORE' | translate)}}">
                          {{preview.error || preview}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-divider class="mt-24"></mat-divider>
        <div class="source-section mt-24">
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="20"><h4>{{'LABELS.SOURCE' | translate}}</h4></div>
            <div fxFlex="80">
              <mat-button-toggle-group formControlName="source">
                <mat-button-toggle *ngFor="let source of sources" [value]="source" [attr.appCypressData]="source">
                  {{getType(source)}}
                </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-error *ngIf="mapperForm.get('source').hasError('required')" appCypressData="source-error">
                {{ 'ERROR.REQUIRED' | translate }}
              </mat-error>
            </div>
          </div>

          <div *ngIf="isConstant" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="20">
              <span>{{'LABELS.CONSTANT' | translate}}</span>
            </div>
            <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="constant" name="constant" cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.CONSTANT' | translate)"
                              [matAutocomplete]="autoType"
                              appCypressData="constant-input"></textarea>
              <mat-error *ngIf="mapperForm.get('constant').hasError('required')" appCypressData="constant-error">
                {{ 'ERROR.REQUIRED' | translate }}
              </mat-error>
              <mat-autocomplete #autoType="matAutocomplete">
                <mat-option *ngFor="let constant of filteredConstants | async | async" [value]="constant.value">
                  {{constant.label}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div *ngIf="isColumn" class="mt-24" fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="20">
              <span>{{'LABELS.COLUMN_NAME' | translate}}</span>
            </div>
            <mat-form-field fxFlex="80">
                    <textarea matInput formControlName="columnName" name="columnName"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                              [placeholder]="('LABELS.COLUMN_NAME' | translate)"
                              [matAutocomplete]="autoc"
                              appCypressData="column-input"></textarea>
              <mat-error *ngIf="mapperForm.get('columnName').hasError('required')" appCypressData="column-error">
                {{ 'ERROR.REQUIRED' | translate }}
              </mat-error>
              <mat-autocomplete #autoc="matAutocomplete">
                <mat-option *ngFor="let option of filteredColumnNames | async" [value]="option.title">
                  {{option.title}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <mat-divider class="mt-24"></mat-divider>
        <div class="transformation-section">
          <div class="mt-24" fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="20"><h4>{{'LABELS.TRANSFORMATION' | translate}}</h4></div>
            <div fxFlex="none">
              <mat-button-toggle-group formControlName="language">
                <mat-button-toggle *ngFor="let lang of typeTransformationLangs" [value]="lang" [attr.appCypressData]="'transformation-'+ lang">
                  {{getType(lang)}}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div fxFlex="65" *ngIf="isTransformation">
              <div fxLayout="column" fxLayoutAlign="space-around stretch">
                <mat-form-field class="ml-16">
                  <mat-label>{{'LABELS.EXPRESSION' | translate}}</mat-label>
                  <textarea matInput formControlName="expression" name="expression"
                            cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                            [matAutocomplete]="prefixAuto"
                            [placeholder]="!isPrefixTransformation ? ('LABELS.GREL_PLACEHOLDER' | translate) : ''"
                            appCypressData="transformation-expression"></textarea>
                  <mat-autocomplete #prefixAuto="matAutocomplete">
                    <div *ngIf="isPrefixTransformation">
                      <mat-option *ngFor="let namespace of filteredNamespaces | async" [value]="namespace.prefix">
                        {{namespace.prefix}}={{namespace.value}}
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                  <mat-icon matSuffix>
                    <a *ngIf="!isPrefixTransformation" class="icon-info"  target="_blank"
                       href={{environment.openRefineVariables}}
                       matTooltip="{{'TOOLTIPS.GREL_VALUE_HELP' | translate}}"></a>
                  </mat-icon>
                </mat-form-field>

                <div class="ml-16" *ngIf="!isPrefixTransformation">
                  <div
                    *ngFor="let preview of grelPreviewExpression | async; let index = index;">
                    <div class="mb-2 cursor-pointer" *ngIf="preview"
                         [ngClass]="{hide: index !== 0 && !showTransformation}"
                         (click)="showTransformation = !showTransformation"
                         matTooltip="{{showTransformation ? ('TOOLTIPS.CLICK_TO_HIDE' | translate) : ('TOOLTIPS.CLICK_FOR_MORE' | translate)}}">
                      {{preview.error || preview}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions fxLayout="column" fxLayoutAlign="center end">
    <button class="btn-primary" [mat-dialog-close]="data" (click)="save()" [disabled]="isMappingInvalid()"
            matTooltip="{{'TOOLTIPS.SAVE_AND_CLOSE' | translate}}" appCypressData="ok-mapping-button">
      {{'BUTTONS.OK' | translate}}
    </button>
  </div>

</div>
