.mapping-dialog {
  form {
    min-height: 250px;
  }
}

div.hide{
  display: none;
}

mat-button-toggle {
  height: 33px;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.icon-info {
  color: #ED4F2F;
}
