.mapping-dialog {
  form {
    min-height: 250px;
  }
}

::ng-deep .sat-popover-container {
  overflow-y: auto;
}

.grel-preview-content {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.hide{
  display: none;
}

mat-button-toggle {
  height: 33px;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.icon-info {
  color: #ED4F2F;
}
