.plus-cell {
  width: 1%;
  border: solid 1px #ccc;
  min-height: 120px;
  display: inline-block;
  background: floralwhite;
  border-radius: 4px;
  cursor: move;
  overflow: hidden;
}

.insert {
  opacity: 0;
  width: 90%;
  display: inline-block;
  border: solid 1px #ccc;
  background: floralwhite;
  padding-bottom: 12px;
  overflow: hidden;
}

.insert:hover {
  transition: opacity 0s 1s;
}

// How many levels of nesting the layout supports
$nesting-levels: 10;
$nested-border-color: rgba(45, 186, 171, 0.3);

// Generate the styles for the nesting and the default top offset of each nested row
@for $i from 1 through $nesting-levels {
  .level-#{$i} {
    margin-left: 20px * $i;
  }
}

// Put the borders around each triples-block
@for $i from 1 through $nesting-levels {
  .level-#{$i} .triples-block {
    border-bottom: 1em solid $nested-border-color;
    border-left: 1em solid $nested-border-color;
    border-right: 1em solid $nested-border-color;
  }
}

.first-in-group {
  margin-top: 1em;
}

.first-in-group .triples-block {
  border-top: 1em solid $nested-border-color !important;
}

.level-0 {
  margin-top: 0;
}

.level-0 ~ .level-0 {
  margin-top: 1em;
  margin-bottom: 1em;
}
