<div>
  <div *ngFor="let mapping of triples; let index = index" class="mr-12 ml-12 mb-12">
    <app-mapper-cell [cellMapping]="mapping.getSubject()" (click)="openMapperDialog($event, mapping, SUBJECT)"
                     [isFirstChild]="isFirstSubject(mapping, index)" appCypressData="subject"></app-mapper-cell>
    <app-mapper-cell [cellMapping]="mapping.getPredicate()" [isTypeProperty]="mapping.isTypeProperty"
                     (click)="openMapperDialog($event, mapping, PREDICATE)" [isFirstChild]="isFirstPredicate(mapping, index)"
                     appCypressData="predicate"></app-mapper-cell>
    <app-mapper-cell [cellMapping]="mapping.getObject()" (click)="openMapperDialog($event, mapping, OBJECT)"
                     appCypressData="object"></app-mapper-cell>
  </div>
</div>
