<div appCypressData="mapping-wrapper">
  <div *ngFor="let mapping of triples; let index = index" fxLayout="row" fxLayoutAlign="start stretch"
       [ngClass]="[
        'triple-wrapper',
        'level-' + mapping.getLevel(),
        isFirstInGroup(mapping, index) ? 'first-in-group' : '',
        isLastInGroup(mapping, index) ? 'last-in-group' : ''
       ]"
       appCypressData="triple-wrapper">
    <div [fxFlex]="getRowSize(mapping)" [ngClass]="['triples-block', (mapping.isIRI ? 'triples-blocks-subrow' : '')]">
        <app-mapper-cell *ngIf="mapping.getLevel() === 0"
                         [triple]="mapping"
                         [cellMapping]="mapping.getSubject()"
                         [isFirstChild]="isFirstSubject(mapping, index)"
                         [tabIndex]="index" [tabPosition]="1"
                         [cellType]="SUBJECT"
                         [nestLevel]="mapping.getLevel()"
                         [namespaces]="getAllNamespaces()"
                         [sources]="sources"
                         [viewMode]="getViewMode()"
                         (onDrop)="onDrop($event, mapping, SUBJECT, index)"
                         (onDelete)="onDelete($event, mapping, SUBJECT)"
                         (onValueSet)="onValueSet($event, mapping, SUBJECT, index)"
                         (onEditClick)="openMapperDialog($event, mapping, SUBJECT, index)"
                         [attr.appCypressData]="'subject-' + index"
                         [fxFlex]="33"></app-mapper-cell>
        <app-mapper-cell [triple]="mapping"
                         [cellMapping]="mapping.getPredicate()"
                         [isTypeProperty]="mapping.isTypeProperty"
                         [isFirstChild]="isFirstPredicate(mapping, index)"
                         [cellType]="PREDICATE"
                         [namespaces]="getAllNamespaces()"
                         [sources]="sources"
                         [tabIndex]="index" [tabPosition]="2"
                         [viewMode]="getViewMode()"
                         (onDrop)="onDrop($event, mapping, PREDICATE, index)"
                         (onDelete)="onDelete($event, mapping, PREDICATE)"
                         (onValueSet)="onValueSet($event, mapping, PREDICATE, index)"
                         (onEditClick)="openMapperDialog($event, mapping, PREDICATE, index)"
                         [attr.appCypressData]="'predicate-' + index"
                         [fxFlex]="getCellSize(mapping)"></app-mapper-cell>
        <app-mapper-cell [triple]="mapping"
                         [cellMapping]="mapping.getObject()"
                         [isTypeObject]="mapping.isTypeProperty"
                         [cellType]="OBJECT"
                         [tabIndex]="index" [tabPosition]="3"
                         [namespaces]="getAllNamespaces()"
                         [sources]="sources"
                         [viewMode]="getViewMode()"
                         (onDrop)="onDrop($event, mapping, OBJECT, index)"
                         (onDelete)="onDelete($event, mapping, OBJECT)"
                         (onValueSet)="onValueSet($event, mapping, OBJECT, index)"
                         (onEditClick)="openMapperDialog($event, mapping, OBJECT, index)"
                         [attr.appCypressData]="'object-' + index"
                         [fxFlex]="getCellSize(mapping)"></app-mapper-cell>
    </div>

    <div [fxFlex]="3" class="triple-actions">
      <div>
        <span class="btn btn-link text-muted delete-triple" *ngIf="isDeleteApplicable(index)">
			    <span class="icon-trash" (click)="deleteTripleMapping(mapping)" matTooltip="{{'TOOLTIPS.DELETE_TRIPLE' | translate}}"></span>
			  </span>
      </div>

      <div>
        <span class="btn btn-link text-muted add-sibling" *ngIf="isInsertApplicable(index)">
			    <span class="icon-plus" (click)="insertMapping($event, mapping, index)" matTooltip="{{'TOOLTIPS.ADD_TRIPLE' | translate}}"></span>
			  </span>
      </div>

      <div>
        <span class="btn btn-link text-muted add-nested" *ngIf="isNestApplicable(index)" appCypressData="add-nested">
			    <span class="icon-arrow-right" (click)="continueMapping($event, mapping, index)" matTooltip="{{'TOOLTIPS.ADD_NESTED_TRIPLE' | translate}}"></span>
			  </span>
      </div>
    </div>
  </div>
</div>
