.mat-option {
  &:hover:not(.mat-option-disabled),
  &:focus:not(.mat-option-disabled) {
    background-color: #3385ff;
    color: white
  }
}
.autocomplete-hint {
  font-size: 12px;
  color: gray;
  float: right;
}
