<div fxLayout="row" fxLayoutAlign="space-between center" class="triple-item-empty" appCypressData=triple-item>
    <span fxFlex="grow" class="ti-placeholder" cdkDropList [cdkDropListEnterPredicate]="canDrop()"
          (cdkDropListDropped)="drop($event)" (click)="onPreventClick($event)">

      <form>
        <mat-form-field fxFill>
          <mat-label>{{getCellType()}}</mat-label>
          <input matInput #mapping #trigger="matAutocompleteTrigger" tabIndex="{{tabIndex}}" autocomplete="off"
                 appCypressData="cell-value"
                 tabPosition="{{tabPosition}}"
                 [formControl]="autoInput"
                 [matAutocomplete]="autocInline"
                 (keydown.tab)="saveInputValue(false)"
                 (keydown.enter)="selectPrefixOrValue($event, true, trigger)"
                 (keydown.control.Enter)="onEdit()"
                 (blur)="saveInputValueOnBlur($event)">
          <mat-autocomplete #autocInline="matAutocomplete" #tooltip="matTooltip"  [matTooltip]="optionTooltip"
                            class="autocomplete-check" appCypressData="autocomplete-tooltip">
            <mat-option appCypressData="cell-option" *ngFor="let option of suggestions | async | async" [value]="option.value"
                        (mouseover)="getIriDescription(option)" (mouseleave)="clearTooltip()"
                        (click)="selectPrefixOrValue($event, true, trigger)">
              <span >{{option.label}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </span>
  <div >
    <div class="ti-actions">
        <span class="btn btn-link text-muted">
            <span cdkDrag [cdkDragData]="cellMapping">
						  <span class="icon-edit" (click)="onEdit()" matTooltip="{{'TOOLTIPS.EDIT_VALUE' | translate}}"
                    appCypressData="button-edit-empty-cell"></span>
            </span>
          </span>
    </div>
  </div>

</div>
