
/*-------------------------------------------------------------
    add this line to bootstrap-graphdb-theme.css
-------------------------------------------------------------*/
.breadcrumb {
  border-radius: 0;
}


/*-------------------------------------------------------------
    RDF mapping
-------------------------------------------------------------*/

.rdfm-columns-container {
  max-height: 144px;
  overflow-y: scroll;
}

@media (max-width: 575px) {
  .rdfm-columns-container {
    height: 144px;
  }
}

@media (min-width: 576px) {
  .rdfm-columns-container {
    height: 144px;
  }
}

@media (min-width: 768px) {
  .rdfm-columns-container {
    height: 144px;
  }
}

@media (min-width: 992px) {
  .rdfm-columns-container {
    height: 114px;
  }
}

@media (min-width: 1200px) {
  .rdfm-columns-container {
    height: 76px;
  }
}

.rdfm-column-item {
  font-size: 1rem;
  display: inline-block;
  border: 1px solid rgba(0,0,0,.125);
  padding: 0.25rem 0.5rem;
  margin: 0 0.1rem 0.5rem;
}
.rdfm-column-item:hover {
  background-color: rgba(237, 79, 47, 0.05);
}

.triples-block {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}

.triples-block::after {
  font-size: 1.5rem;
  padding: 0 0.3rem;
  color: #5c5c5c;
  align-self: center;
  margin-top: -0.4rem;
}

.triples-block-end-dot::after {
  content: ".";
}

.triples-block-end-column::after {
  content: ";";
}

.triples-block-end-comma::after {
  content: ",";
}


.triple-item {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eee;
}
.triple-item:hover {
  background-color: rgba(237, 79, 47, 0.05);
}

.triple-item-preview {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid #eee;
}
.triple-item-preview:hover {
  background-color: rgba(237, 79, 47, 0.05);
}

.ti-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
  margin-bottom: 0.25rem;
}
.ti-row > :nth-child(1) {
    min-width: 60%;
}
.ti-row > :nth-child(2) {
    min-width: 20%;
}
.ti-row > :nth-child(3) {
    margin-left: 0.5rem;
    min-width: 15%;
}

.ti-a {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1rem;
}

.ti-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0 0;
  margin-top: 0.5rem;
  border-top:1px solid #eee
}
.ti-preview {
  font-size: 1.0em;
  font-family: Menlo, Consolas, "Ubuntu Mono", monospace;
  word-break: break-all;
  margin-right: 0.5rem;
}
.ti-source {
  font-weight: 400;
  font-size: 1rem;
  display: block;
  word-break: break-all;
  padding-right: 1rem;
}
.ti-prefix {
  display: block;
}

.ti-source-type {
  background-color: #F79F88;
  border-radius: 20rem;
  color: #fff;
  font-size: 0.7rem;
  width: 1.0rem;
  height: 1.0rem;
  display: inline-block;
  text-align: center;
  line-height: 1.0rem;
  font-weight: 300;
}
.ti-source-type.type-col { background-color: #F79F88 }
.ti-source-type.type-const { display: none }


/* Transformations */
.ti-transform {
  background-color: #F79F88;
  color: #fff;
  padding: 0.125rem 0.5rem 0.1rem 0.5rem;
  border-radius: 20rem;
  font-weight: 400;
}
.ti-transform:empty {
  display: none;
}

.ti-transform-block {
  text-align: right;
  max-width: 50%;
}
.ti-transform.type-prefix {
  color: #0B979C;
  background-color: inherit;
  font-size: 1rem;
}

.ti-transform.type-grel {
  font-size: 0.7rem;
}

.ti-transform.type-raw {
  font-size: 0.7rem;
  margin-right: 5px;
}

/* Types */
.ti-type {
  font-family: Menlo, Consolas, "Ubuntu Mono", monospace;
  white-space: nowrap;
}
.ti-type.type-iri {color: rgb(66, 133, 244)}
.ti-type.type-unique_bnode {color: rgb(66, 133, 244)}
.ti-type.type-value_bnode {color: rgb(66, 133, 244)}
.ti-type.type-literal {color: rgb(66, 133, 244)}
.ti-type.type-datatype_literal {color: #7AB2E1}
.ti-type.type-language_literal {color: #7AB2E1}


/* empty row */
.ti-placeholder {
  border: 1px dashed #ddd;
  padding: 0.5rem;
  font-size: 1.125rem;
  color: #ccc;
  background-color: #fff
}

.ti-footer .btn-link {
  padding: .25rem;
}
.ti-actions {
  white-space: nowrap;
}

.triple-wrapper {
  justify-content: flex-end !important;
}

.triple-actions .btn-link {
  padding: 0.3em;
}

/* inline drilldown / triples subrow */
.triples-blocks-subrow {
  position: relative;
}
.triples-blocks-subrow .triples-block:last-of-type {
  margin-bottom: 0;
}

.first-in-group .triples-blocks-subrow::before {
  content: "";
  border-width: 0.5em;
  border-top-width: 0;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgba(45, 186, 171, 0.3);
  position: absolute;
  top: -14px;
  right: 16.66666666666%;
  margin-right: -0.5rem;
  display: block;
}

.first-in-group.triples-blocks-subrow.right-arrow::before {
  right: 16.66666666666%;
}
.first-in-group.triples-blocks-subrow.center-arrow::before {
  right: 50%;
}
.first-in-group.triples-blocks-subrow.center-arrow::before {
  right: auto;
  left: 16.66666666666%;
}

.mat-option-text {
  font-size: 12px;
}

.long-tooltip {
  max-width: unset !important;
}
