.mat-spinner {
  display: inline-block;
  vertical-align: middle;
}

.mat-progress-spinner ::ng-deep circle, .mat-spinner ::ng-deep circle {
  stroke: #ffffff;
}

.header-component {
  align-items: center !important;
}

.unsaved-changes-msg {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #d54a33;
  border-color: #d54a33;
}
