<div fxLayout="row" fxLayoutAlign="end end" appCypressData="header" class="header-component py-2">
  <mat-button-toggle-group class="mr-auto" value="{{ViewMode.Configuration}}" (change)="togglePreview($event)">
    <mat-button-toggle value="{{ViewMode.Configuration}}" appCypressData="view-configuration-button">{{"BUTTONS.CONFIGURATION" | translate}}</mat-button-toggle>
    <mat-button-toggle value="{{ViewMode.Preview}}" appCypressData="view-preview-button">{{"BUTTONS.PREVIEW" | translate}}</mat-button-toggle>
    <mat-button-toggle value="{{ViewMode.PreviewAndConfiguration}}" appCypressData="view-both-button">{{"BUTTONS.PREVIEW_AND_CONFIGURATION" | translate}}</mat-button-toggle>
  </mat-button-toggle-group>

  <span class="mr-12 unsaved-changes-msg">
    {{isMappingDirty ? ('MESSAGES.MAPPING_IS_DIRTY' | translate) : ('MESSAGES.MAPPING_IS_SAVED' | translate)}}
  </span>
  <span matTooltip="{{'TOOLTIPS.SAVE_MAPPING' | translate}}">
    <button (click)="saveMapping()" [disabled]="!isMappingDirty" appCypressData="save-action" class="mr-12 btn btn-sm btn-primary cursor-pointer">
      {{"BUTTONS.SAVE" | translate}}
      <mat-spinner *ngIf="isSavingInProgress" [diameter]="20"></mat-spinner>
    </button>
  </span>
  <button class="mr-12 btn btn-sm btn-primary cursor-pointer" (click)="openDialog()" appCypressData="view-json-action"
          matTooltip="{{'TOOLTIPS.OPEN_JSON' | translate}}">{{"BUTTONS.VIEW_JSON" | translate}}
  </button>
  <input class="hidden" type="file" (change)="onFileChanged($event)" #fileInput  appCypressData="json-file-input">
  <button class="mr-12 btn btn-sm btn-primary cursor-pointer" (click)="fileInput.click()" appCypressData="upload-json-action"
          matTooltip="{{'TOOLTIPS.UPLOAD_JSON' | translate}}">{{"BUTTONS.UPLOAD_JSON" | translate}}
  </button>
  <button class="mr-12 btn btn-sm btn-primary cursor-pointer" (click)="getRDF()" appCypressData="generate-rdf-action"
          matTooltip="{{'TOOLTIPS.CONVERT_TO_RDF' | translate}}">
    {{"BUTTONS.RDF" | translate}}
    <mat-spinner *ngIf="isRdfGenerationInProgress" [diameter]="20"></mat-spinner>
  </button>
  <button class="mr-12 btn btn-sm btn-primary cursor-pointer" (click)="getSPARQL()" appCypressData="generate-sparql-action"
          matTooltip="{{'TOOLTIPS.CONVERT_TO_SPARQL' | translate}}">
    {{"BUTTONS.SPARQL" | translate}}
    <mat-spinner *ngIf="isSparqlGenerationInProgress" [diameter]="20"></mat-spinner>
  </button>
  <button class="btn btn-sm btn-primary cursor-pointer" (click)="newMapping()" appCypressData="new-mapping-action"
          matTooltip="{{'TOOLTIPS.NEW_MAPPING' | translate}}">{{"BUTTONS.NEW" | translate}}
  </button>
</div>
