<div fxLayout="row" fxLayoutAlign="end end" appCypressData="header">
  <button (click)="saveMapping()" mat-flat-button color="warn" class="mr-12">{{"BUTTONS.SAVE" | translate}}</button>
  <button mat-flat-button color="warn" class="mr-12" (click)="openDialog()">{{"BUTTONS.VIEW_JSON" | translate}}</button>
  <button mat-flat-button color="warn" class="mr-12" (click)="getRDF()">{{"BUTTONS.RDF" | translate}}</button>
  <button *ngIf="isDevEnv()" mat-flat-button color="warn" class="mr-12" (click)="newMapping()">{{"BUTTONS.NEW" | translate}}</button>
</div>
