.mat-spinner {
  display: inline-block;
  vertical-align: middle;
}

.mat-progress-spinner ::ng-deep circle, .mat-spinner ::ng-deep circle {
  stroke: #ffffff;
}

.header-component {
  align-items: center !important;
}

.unsaved-changes-msg {
  white-space: nowrap;
}

.hidden {
  display: none;
}
