<div class="mr-12" fxFill>
  <app-empty-block *ngIf="isEmpty(); else notEmptyBlock"
                   [cellMapping]="cellMapping"
                   [autocomplete]="suggestions"
                   [tabIndex]="tabIndex"
                   [tabPosition]="tabPosition"
                   [shouldFocus]="shouldFocus"
                   [cellType]="cellType"
                   [isTypeObject]="isTypeObject"
                   [namespaces]="namespaces"
                   [sources]="sources"
                   (onValueSet)="setValue($event)"
                   (onEditClick)="onEdit()"
                   (onDrop)="onDropEvent($event)"></app-empty-block>


  <ng-template #notEmptyBlock>
    <div class="triple-item-preview" appCypressData=triple-item>
      <div fxFlex="grow" *ngIf="isFirstChild; else emptyBlock">

        <div *ngIf="isFirstChild && isTypeProperty">
          <div fxLayout="row" fxLayoutAlign="space-between end">
            <div class="type-property">a</div>
            <app-type-badge [type]="getType()"></app-type-badge>
          </div>
        </div>

        <div *ngIf="isFirstChild && !isTypeProperty; else emptyBlock" fxFill>
          <div fxLayout="row" fxLayoutAlign="space-between end">
            <div fxFlex="auto">
              <app-transformation-type-badge [cellMapping]="cellMapping" [target]="propertytransformation"></app-transformation-type-badge>
            </div>

            <div *ngIf="!(isGRELTransformation(getTransformation()))" fxFlex="grow">
             <span class="ti-source">
                <span *ngIf="getSourceType() === 'column'" matTooltip="{{getValueSource().getColumnName()}}">
                  <span class="ti-source-type type-col" title="column">
                    {{'CONSTANTS.COLUMN' | translate}}
                  </span>
                  {{getReasonableLongWord(getValueSource().getColumnName())}}
                </span>

                <span *ngIf="getSourceType() === 'constant'" matTooltip="{{getValueSource().getConstant()}}">
                  <span class="ti-source-type type-const" title="Const">
                    {{'CONSTANTS.CONSTANT' | translate}}
                  </span>
                  {{getReasonableLongWord(getValueSource().getConstant())}}
                </span>

                <span *ngIf="getSourceType() === 'row_index' || getSourceType() === 'record_id'">
                  <span class="ti-source-type index" title="Const">
                   {{'CONSTANTS.INDEX' | translate}}
                  </span>
                  {{getValueSource().source}}
                </span>
              </span>
            </div>

            <div *ngIf="isGRELTransformation(getTransformation())" class="ml-2" fxFlex="grow">
             <span class="ti-source" matTooltip="{{getTransformation().getExpression()}}">
               {{getReasonableLongWord(getTransformation().getExpression())}}
              </span>
            </div>



            <app-type-badge [type]="getType()"></app-type-badge>
          </div>

          <div class="mt-12">
            <div fxFlex="auto">
              <app-transformation-type-badge [cellMapping]="cellMapping" [target]="valuetransformation"></app-transformation-type-badge>
            </div>

            <div fxFlex="grow" *ngIf="!(isGRELTransformation(getSecondaryTransformation()))">
              <span class="ti-source">
                <div *ngIf="getDatatypeSource()">
                  <span *ngIf="getDatatypeSourceType() === 'column'"
                        matTooltip="{{getDatatypeSource().getColumnName()}}">
                    <span class="ti-source-type type-col" title="column">
                      {{'CONSTANTS.COLUMN' | translate}}
                    </span>
                    {{getReasonableLongWord(getDatatypeSource().getColumnName())}}
                  </span>

                  <span *ngIf="getDatatypeSourceType() === 'constant'"
                        matTooltip=" {{getDatatypeSource().getConstant()}}">
                    <span class="ti-source-type type-const" title="Const">
                      {{'CONSTANTS.CONSTANT' | translate}}
                    </span>
                    {{getReasonableLongWord(getDatatypeSource().getConstant())}}
                  </span>

                  <span *ngIf="getDatatypeSourceType() === 'row_index' || getDatatypeSourceType() === 'record_id'">
                    <span class="ti-source-type index" title="Const">
                      {{'CONSTANTS.INDEX' | translate}}
                    </span>
                    {{getDatatypeSource().source}}
                  </span>
                </div>

                <div *ngIf="getValueTypeLanguageSource()">
                  <span *ngIf="getValueTypeLanguageSourceType() === 'column'"
                        matTooltip="{{getValueTypeLanguageSource().getColumnName()}}">
                    <span class="ti-source-type type-col" title="column">
                      {{'CONSTANTS.COLUMN' | translate}}
                    </span>
                    {{getReasonableLongWord(getValueTypeLanguageSource().getColumnName())}}
                  </span>

                  <span *ngIf="getValueTypeLanguageSourceType() === 'constant'"
                        matTooltip="{{getValueTypeLanguageSource().getConstant()}}">
                    <span class="ti-source-type type-const" title="Const">
                      {{'CONSTANTS.CONSTANT' | translate}}
                    </span>
                    {{getReasonableLongWord(getValueTypeLanguageSource().getConstant())}}
                  </span>

                  <span
                    *ngIf="getValueTypeLanguageSourceType() === 'row_index' || getValueTypeLanguageSourceType() === 'record_id'">
                    <span class="ti-source-type index" title="Const">
                      {{'CONSTANTS.INDEX' | translate}}
                    </span>
                    {{getValueTypeLanguageSource().source}}
                  </span>
                </div>
              </span>
            </div>

            <div *ngIf="isGRELTransformation(getSecondaryTransformation())" class="ml-2" fxFlex="grow">
             <span class="ti-source" matTooltip="{{getSecondaryTransformation().getExpression()}}">
               {{getReasonableLongWord(getSecondaryTransformation().getExpression())}}
              </span>
            </div>

            <div dir="rtl">
              <div [fxFlex]="20">
                <app-transformation-type-badge [cellMapping]="cellMapping" [target]="datatypetransformation"></app-transformation-type-badge>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="actions ml-12" fxFlex="noshrink" *ngIf="isFirstChild">
        <div fxLayout="row" fxLayoutAlign="end stretch">
          <mat-divider [vertical]="true"></mat-divider>
          <span fxFlex *ngIf="!isTypeProperty" class="btn btn-link text-muted">
            <span class="icon-edit" (click)="onEdit()" matTooltip="{{'TOOLTIPS.EDIT_VALUE' | translate}}"
                  appCypressData="button-edit-cell"></span>
          </span>

          <span class="btn btn-link text-muted add-sibling">
			      <span class="icon-plus"  (click)="addSibling()" appcypressdata="add-sibling"
                  matTooltip="{{'TOOLTIPS.ADD' | translate}} {{cellType}}"></span>
			    </span>

          <span fxFlex class="btn btn-link text-muted">
            <span class="icon-trash" (click)="deleteMapping($event)" appCypressData="delete-node"
                  matTooltip="{{'TOOLTIPS.DELETE_VALUE' | translate}}"></span>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #emptyBlock>
  <div class="ti-row">
    <!-- empty -->
  </div>
</ng-template>
