<div class="card mb-0">
  <div class="m-12 m-0 p-2 card-block">
    <div cdkDropList cdkDropListOrientation="horizontal" class="rdfm-columns-container"
         [cdkDropListData]="sources" cdkDropListSortingDisabled appCypressData="source-box">
      <div cdkDrag class="rdfm-column-item cursor-move" *ngFor="let source of sources;let i = index"
           [attr.appCypressData]="'source-' + i"
           [cdkDragData]="source"
           [ngClass]="{
              'used': source.isUsed()
              }"
           matTooltip="{{source.getTitle()}}">
        {{source.getReasonableLongTitle()}}
      </div>
    </div>
  </div>
</div>
