.btn-link, .btn-link a {
  padding: 0.1em 0.1em;
}

.triple-item-preview {
  height: 100%;
}

.type-property {
  font-size: 1.5em;
}

.triple-item-wrapper {
  height: 100%;
}

.empty-preview {
  color: lightgray;
}
